.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_button {
  color:rgba(135, 206, 235, 1);
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}


.pagination_button_disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination_button.active {
  color: rgba(135, 206, 235, 1);
  background: none;
  border-radius: 50%;
}

:hover.pagination_button {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.16);
}